.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  padding: 0px;
}
.ReactFlagsSelect-module_selectBtn__19wW7 {
  padding: 2px;
}
.ReactFlagsSelect-module_selectValue__152eS {
  padding: 0px;
  margin: 0px;
}
